name: pure_live
description: A new Flutter project.
publish_to: 'none'
version: 2.0.12+12

environment:
  sdk: ^3.10.4
dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  html: ^0.15.4
  http: ^1.1.0
  flutter_svg: ^2.2.1
  url_launcher: ^6.1.12
  web_socket_channel: ^3.0.0
  cached_network_image: ^3.3.0
  # ui related
  flutter_staggered_grid_view: ^0.7.0
  #Widget
  flutter_smart_dialog: ^4.9.5 #各种弹窗 Toast/Dialog/Popup
  # barrage wall
  quiver: ^3.2.1
  flex_color_picker: ^3.3.0
  # database
  font_awesome_flutter: ^10.6.0
  tars_dart:
    git:
      url:  https://github.com/xiaoyaocz/dart_simple_live.git
      path: ./simple_live_core/packages/tars_dart
  # video player 
  media_kit:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./media_kit
  media_kit_video:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./media_kit_video
  media_kit_libs_video:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./libs/universal/media_kit_libs_video
  flv_lzc:
    git: https://github.com/liuchuancong/flv_lzc.git
  bordered_text: ^3.0.0
  flutter_color: ^2.1.0
  protobuf: ^4.0.0
  fixnum: ^1.1.0
  dio: ^5.3.3
  dio_cookie_manager: ^3.1.1
  cookie_jar: ^4.0.8
  # system hardware utils
  wakelock_plus: ^1.1.3
  stop_watch_timer: ^3.0.2
  # storage
  shared_preferences: ^2.2.2
  flutter_cache_manager: ^3.3.1
  # utils
  get: ^5.0.0-release-candidate-9.3.2
  intl: ^0.20.2
  timezone: ^0.10.0
  date_format: ^2.0.7
  path: ^1.8.3
  file: ^7.0.0
  path_provider: ^2.1.1
  logger: ^2.0.2+1
  crypto: ^3.0.6
  brotli: ^0.6.0
  device_info_plus: ^12.3.0
  cupertino_icons: ^1.0.8
  remixicon: ^1.0.0 #Remix图标
  lottie: ^3.1.0 #Lottie动画
  marquee_list: ^1.0.0
  flutter_screenutil: ^5.9.0 #UI适配
  network_info_plus: ^7.0.0
  dart_tars_protocol:
    git: https://github.com/xiaoyaocz/dart_tars_protocol.git
  html_unescape: ^2.0.0
  flutter_inappwebview: ^6.2.0-beta.2
  connectivity_plus: ^7.0.0 
  qr_flutter: ^4.1.0 
  # 给web端通信
  dia: ^0.1.4
  dia_static: ^0.1.2
  dia_body: ^0.1.3
  dia_router: ^0.1.7
  dia_cors: ^0.1.2
  group_button: ^5.3.4
  rxdart: ^0.27.7
  dart_quickjs:
    git: https://github.com/xiaoyaocz/dart_quickjs.git
  open_filex: ^4.7.0
  permission_handler: ^12.0.1
  hive_ce: ^2.15.1
  hive_ce_flutter: ^2.3.3
  google_fonts: ^6.3.3
dependency_overrides:
  media_kit:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./media_kit
  media_kit_video:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./media_kit_video
  media_kit_libs_video:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./libs/universal/media_kit_libs_video
  media_kit_libs_android_video:
    git:
      url: https://github.com/Predidit/media-kit.git
      ref: main
      path: ./libs/android/media_kit_libs_android_video
dev_dependencies:
  flutter_test:
    sdk: flutter
  change_app_package_name: any
  flutter_launcher_icons: ^0.14.1

  flutter_lints: ^6.0.0
flutter_icons:
  android: "ic_launcher"
  image_path: assets/icons/icon.png
  adaptive_icon_background: "#FFFFFF"
  adaptive_icon_foreground: assets/icons/icon_foreground.png
  min_sdk_android: 21 # android min sdk min:16, default 21
flutter:

  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
    - assets/statement.txt
    - assets/pure_live_web/
    - assets/pure_live_web/assets/
    - assets/pure_live_web/assets/fonts/
    - assets/pure_live_web/assets/shaders/
    - assets/pure_live_web/canvaskit/
    - assets/pure_live_web/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
    - assets/pure_live_web/canvaskit/chromium/
    - assets/pure_live_web/icons/
    - assets/images/
    - assets/icons/
    - assets/lotties/
    - assets/emo/huya/
    - assets/emo/douyu/
    - assets/emo/douyin/
    - assets/emo/bilibili/
    - assets/emo/kuaishou/
    - assets/images/video/ 
  fonts:
    - family: CustomIcons
      fonts:
        - asset: assets/icons/CustomIcons.ttf
flutter_intl:
  enabled: true
  arb_dir: lib/common/l10n
  output_dir: lib/common/l10n/generated
